
.App {
  text-align: center;
  width: 400px;
  margin: auto;
}

.dragdrop {
  background-color: #EFEFEF;
  padding: 20px;
  width: 100%;
}

.success {
  background-color: #c6dbb4;
  color: #436e3c;
  padding: 20px;
  width: 100%;
}

.error {
  background-color: #e8a9a9;
  color: #783232;
  padding: 20px;
  width: 100%;
}
