.App {
  margin: auto;
}

.loading-screen {
  display: flex;
  align-items: center;
}

.loading-screen:first-child {
  margin-left: 45vw;
  margin-top: 45vh;
}

/* HEADER */

.header {
  background-color: #4255dd;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  top: 0px;
  width: 90%;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  margin-right: 20px;
}

/* PAGE LAYOUT*/

.content {
  padding: 60px;
}

.left-panel {
  float: left;
  width: 60%;
}

.right-panel {
  float: right;
  width: 40%;
}

/* FILE LIST */

.file-list-item {
  background-color: #f0f2fe;
  border: solid 2px #4255dd;
  border-radius: 5px;
  margin: 10px 100px 10px 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: #353c6f;
}

.file-list-item-name {
  font-weight: 700;
}

/* DRAG'N'DROP */

.dragdrop {
  background-color: #fff;
  padding: 40px;
  height: 300px;
  text-align: center;
  border: dotted #4255dd 3px;
  border-radius: 10px;
}

.drag-illustration {
  width: 60%;
}

.muted {
  color: #6f6f6f;
  font-style: italic;
  font-size: 10pt;
}

/* ERROR MESSAGE */
.notifications {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 40px;
  width: 400px;
}

.error {
  background-color: #e8a9a9;
  border-radius: 5px;
  color: #783232;
  padding: 5px 20px;
}
